html
  head
    title Health and Fitness
  body
    h1 Welcome to The Health and Fitness
    a#header(href='/MemberLogin') Access to Members
    br 
    a#header(href='/TrainerLogin') Access to Trainers
    br 
    a#header(href='/AdminStaffLogin') Access to AdminStaff