html
  head
    title Members Page
  body
    if ErrorMessage 
        script.
            alert #{ErrorMessage}
    form(action='/login' method='post')
      label(for='username') Username:
      input(type='text' name='username' id='username' required)
      
      label(for='password') Password:
      input(type='password' name='password' id='password' required)
      
      button(type='submit') Submit
    a(href='/MemberRegister') Register
