html
  head
    title Welcome 
  body
    p1 WELCOME MAN

    h1 Member Profile
    if Member
        p Welcome, #{Member.fname} #{Member.lname}
    else
        p No member information available
        
