html
  head
    title Welcome 
  body
    div(style="text-align: right; padding: 10px;")
      a(href='/') Home
    p1 WELCOME MAN

    h1 Member Profile
    if Member
        p Welcome, #{Member.fname} #{Member.lname}
    else
        p No member information available
        
