html
  head
    
  body
    div(style="text-align: right; padding: 10px;")
      a(href='/') Home
    
    h1 Trainer Page
    

    form(action='/TrainerLogin' method='post')
      label(for='username') Username:
      input(type='text' name='username' id='username' required)
      
      label(for='password') Password:
      input(type='password' name='password' id='password' required)
      
      button(type='submit') Submit

